{% extends 'base.html' %}
{% load static %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth-media.css' %}">

    <div class="wrapper">
        <div class="container">
            <div class="auth-window">
                <img class="logo" src="{% static 'img/logo.svg' %}">
                <div class="fields">
                    {% block fields %}{% endblock %}
                </div> 
                <div class="buttons">
                    {% block buttons %}{% endblock %}
                </div>  
            </div>
        </div>
    </div>

    <script src="{% static 'js/send-auth-data.js' %}"></script>
{% endblock %}