{% extends 'auth/auth.html' %}
{% load static %}

{% block title %} Password recovery {% endblock %}

{% block fields %}
    <input id="email" class="field" type="email" placeholder="E-Mail">
{% endblock %}

{% block buttons %}
    <button class="action-button" onclick="sendEmailWithNewPassword('{{ csrf_token }}')">
        <p>Send</p>
    </button>
    <a href="{% url 'login' %}" class="change-auth-mode-button">
        <p>Log In</p>
    </a>

    <div class="modal-window-zone">
        {% include 'inc/modal_windows.html' %}
    </div>

    <script src="{% static 'js/send-email.js' %}"></script>
{% endblock %}